<div class="form-container">
    <h2>{{ isEdit ? 'Modifier une entreprise' : 'Ajouter une entreprise' }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nom</label>
        <input formControlName="nom" placeholder="Nom" [class.invalid]="form.get('nom')?.invalid && form.get('nom')?.touched"/>
        <div class="error" *ngIf="form.get('nom')?.invalid && form.get('nom')?.touched">Ce champ est requis.</div>
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <input formControlName="adresse_siege" placeholder="Adresse"/>
      </div>
      <div class="form-group">
        <label>Infos</label>
        <textarea formControlName="entreprise_infos" placeholder="Infos complémentaires"></textarea>
      </div>
      <div class="form-group">
        <label>Image (facultatif)</label>
        <input type="file" (change)="onFileChange($event)" accept="image/*" />
      </div>
      <button type="submit" [disabled]="form.invalid || (loading$ | async)">
        {{ isEdit ? 'Enregistrer' : 'Créer' }}
      </button>
    </form>
    <div *ngIf="error" class="error">{{ error }}</div>
    <div *ngIf="loading$ | async" class="loading">Chargement...</div>
  </div>
  